<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.hribol.com/bromium/dsl/Bromium"
			class = "com.hribol.bromium.dsl.bromium.BromiumPackage"
			genModel = "model/generated/Bromium.genmodel" />
	</extension>
</plugin>
